<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 输出到控制台日志配置 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%gray(%date{HH:mm:ss.SSS, Asia/Shanghai}) %highlight(%-5level) %cyan(%logger{1}) %L - %gray(%msg%n)</pattern>
        </encoder>
    </appender>

    <!-- 输出到文件台日志配置 -->
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/springboot_demo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/springboot_demo.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <!--只保留最近60天的日志-->
            <maxHistory>60</maxHistory>
            <!--用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志-->
            <!--<totalSizeCap>1GB</totalSizeCap>-->
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss.SSS", Asia/Shanghai} %-5level %logger{1} %L - %msg%n</pattern>
        </encoder>
    </appender>

    <!--单独给某个类设置日志级别-->
    <!--<logger name="org.apache.commons" level="INFO"/>-->

    <root level="DEBUG">
        <appender-ref ref="ROLLING_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>

<!--
 默认情况下，Spring Boot会用Logback来记录日志，并用INFO级别输出到控制台
-->
<!--
%d{HH: mm:ss.SSS}——日志输出时间
%thread——输出日志的进程名字，这在Web应用以及异步任务处理中很有用
%-5level——日志级别，并且使用5个字符靠左对齐
%logger{最大长度}——日志输出类名
%msg——日志消息
%n——平台的换行符
-->